.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.auto-stretch {
  flex: 1;
}

$bg-color: hsl(0deg 0% 98%);

%active-style {
  background: rgba(0, 0, 0, 0.2);
}

.allow-copy {
  user-select: text !important;
}

.layout {
  overflow: hidden;
  display: flex;
  user-select: none;

  .left {
    min-width: 200px;
    background: hsl(200deg 16% 15%);
    color: white;
    height: 100vh;

    overflow-y: auto;

    position: relative;

    .operation-bar {
      position: fixed;
      left: 80px;
      bottom: 0;

      padding: 5px 10px;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      width: 100px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .list-tag {
      margin-left: 10px;

      .tag-item {
        &.active > .name {
          background: hsl(202deg 10% 21%);
        }

        &.folder {
          & > .name .icon {
            display: inline-block;
          }

          &.expand > .name .icon {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .middle {
    position: relative;
    width: 15%;
    min-width: 50px;
    background: $bg-color;

    padding: 10px 5px;

    .search-wrapper {
      height: fit-content;
    }

    .list-item-box {
      overflow-y: hidden;
      position: relative;
    }

    .list-item {
      overflow-y: auto;

      .active {
        @extend %active-style;
      }

      .selected {
        @extend %active-style;
      }

      .list-item-title {
        &.new::after {
          content: '*';
        }
      }
    }

    .load-more {
      background: skyblue;
    }
  }

  .right {
    width: 70%;
    background: $bg-color;

    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    .note-title {
      .info {
        display: flex;

        span {
          padding: 5px;
        }
      }
    }

    .note-toolbar {
      display: flex;

      span {
        padding: 0 5px;
      }
    }

    .note-tags {
      flex-wrap: wrap;

      .active {
        background: lightblue;
      }
    }
  }
}

.text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.hide {
  display: none;
}

button {
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

#popup, #contextmenu {
  position: absolute;
}

.szh-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  padding: .375rem 1.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.rc-dialog-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #root, .layout {
  margin: 0 auto;
  height: 100%;
}

#root, .layout {
  width: 100%;
}

.fill-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.note-viewbar, .note-toolbar {
  padding-bottom: 10px;
}

.note-title {
  padding-bottom: 10px;
}


.note-content {

  %no-indent-style {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    @extend %no-indent-style;
  }

  ul {
    padding-inline-start: 2em;
    @extend %no-indent-style;
  }

  #ckeditor-word-counter {
    width: fit-content;
  }

  .ck-editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    .ck-editor__main {
      flex: 1;
      position: relative;


      .ck-content {
        @extend .fill-box;
      }

      .ck-source-editing-area {
        @extend .fill-box;

        textarea {
          overflow-y: auto;
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}

button {
  border: 1px solid black;
}

.html-painter-box {
  background: blanchedalmond;
  flex: 1;
  display: flex;
  flex-direction: column;

  position: relative;
}

.html-painter {
  @extend .fill-box;

  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  padding: 10px;


  overflow-y: auto;

  table {
    border: 1px double #b3b3b3;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;

    th {
      background: rgba(0, 0, 0, .1);
      font-weight: 700;
      border: 1px solid #bfbfbf;
      min-width: 2em;
      padding: 0.4em;
    }

    td {
      border: 1px solid #bfbfbf;
      min-width: 2em;
      padding: 0.4em;
    }
  }


  /* The "copy" box container */
  .code-badge {
    @extend .allow-copy;
    background: #555 !important;
    padding: 8px !important;
    opacity: 0.5 !important;
    transition: opacity linear 0.5s !important;
  }

  /* The "copy" button */
  .code-badge-copy-icon {
    font-size: 1.3em !important;
  }

  /* The "copy" button, after clicked */
  .text-success {
    color: #b6ff00;
  }

  /* The text in the container */
  .code-badge-language {
    margin-right: 10px;
    font-weight: 700 !important;
    color: #ffafaf !important;
    transition: color linear 0.5s !important;
  }

  /* The "copy" box container, at mouse hover */
  .code-badge:hover {
    opacity: 1 !important;
    background: #4f4f4f !important;
  }

  /* The text in the container, at mouse hover */
  .code-badge:hover .code-badge-language {
    color: #ff4343 !important;
  }


  pre, code.hljs {
    font-family: "Consolas", monospace;
    font-size: 11pt;
    line-height: 1.4em;
  }

}


