.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.auto-stretch {
  flex: 1;
}

%active-style {
  background: rgba(0, 0, 0, 0.2);
}

.layout {
  display: flex;
  user-select: none;

  .left {
    width: 15%;
    min-width: 50px;
    background: gold;

    .list-tag {
      margin-left: 10px;

      .tag-item {
        &.active > .name {
          @extend %active-style;
        }

        &.folder {
          & > .name::after {
            line-height: 1em;
            content: '〉';
          }

          &.expand {
            & > .name::after {
              content: '⌄';
              line-height: 1em;
            }
          }
        }
      }
    }
  }

  .middle {
    position: relative;
    width: 15%;
    min-width: 50px;
    background: indianred;

    .search-wrapper {
      height: fit-content;
    }

    .list-item-box {
      overflow-y: hidden;
      position: relative;
    }

    .list-item {
      overflow-y: auto;

      .active {
        @extend %active-style;
      }

      .selected {
        @extend %active-style;
      }

      .list-item-title {
        &.new::after {
          content: '*';
        }
      }
    }

    .load-more {
      background: skyblue;
    }
  }

  .right {
    width: 70%;
    background: greenyellow;

    .note-title {
      .info {
        display: flex;

        span {
          user-select: text;
          padding: 5px;
        }
      }
    }

    .note-toolbar {
      display: flex;

      span {
        padding: 0 5px;
      }
    }

    .note-tags {
      flex-wrap: wrap;

      .active {
        background: moccasin;
      }
    }
  }
}

.text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

button {
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

#popup, #contextmenu {
  position: absolute;
}

.szh-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  padding: .375rem 1.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.rc-dialog-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #root, .layout {
  margin: 0 auto;
  height: 100%;
}

#root, .layout {
  width: 100%;
}

.fill-box {
  position: absolute;
  width: 100%;
  height: 100%;
}


.note-content {

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  #ckeditor-word-counter {
    width: fit-content;
  }

  .ck-editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    .ck-editor__main {
      flex: 1;
      position: relative;


      .ck-content {
        @extend .fill-box;
      }

      .ck-source-editing-area {
        @extend .fill-box;

        textarea {
          overflow-y: auto;
        }
      }
    }
  }
}