.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-between {
  justify-content: space-between;
}

.auto-stretch {
  flex: 1;
}

$bg-color: hsl(0deg 0% 98%);
$a-text-color: rgba(255, 255, 255, 0.75);

%active-style {
  background: rgba(0, 0, 0, 0.2);
}

.allow-copy {
  user-select: text !important;
}

.layout {
  overflow: hidden;
  display: flex;
  user-select: none;

  .divide-line {
    width: 2px;
    background: rgba(0, 0, 0, 0);

    &:hover {
      cursor: col-resize;
    }
  }


  .left {
    width: 15%;
    background: hsl(200deg 16% 15%);
    color: white;
    height: 100vh;

    overflow-y: auto;

    position: relative;

    .operation-bar {
      gap: 5px;
      position: fixed;
      left: calc(15% - 180px);
      bottom: 0;

      padding: 5px 10px;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .list-tag {
      margin-left: 10px;

      .tag-item {
        &.active > .name {
          background: hsl(202deg 10% 21%);
        }

        &.folder {
          & > .name .icon {
            color: $a-text-color;
            display: inline-block;
          }

          &.expand > .name .icon {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .middle {
    position: relative;
    width: 15%;
    min-width: 50px;
    background: $bg-color;

    padding: 10px 5px;

    .search-wrapper {
      height: fit-content;
    }

    .aaaa-x-box {
      .stats-wrapper {
        font-size: 13px;
      }

      .order-wrapper {
        gap: 3px;
      }

    }

    .list-item-box {
      overflow-y: hidden;
      position: relative;
    }

    .list-item {
      overflow-y: auto;

      .active {
        @extend %active-style;
      }

      .selected {
        @extend %active-style;
      }

      .list-item-title {
        &.new::after {
          content: '*';
        }
      }
    }

    .load-more {
      background: skyblue;
    }
  }

  .right {
    width: 70%;
    background: $bg-color;

    border: 1px solid rgba(0, 0, 0, 0.3);

    .note-meta-box {
      padding: 10px;

      .note-title {
        .info {
          gap: 5px;
          span {
            padding-top: 10px;
          }
        }
      }

      .note-toolbar {
        display: flex;

        padding-bottom: 10px;

        span {
          padding: 0 5px;
        }
      }

      .note-tags {
        align-items: center;
        gap: 5px;

        .active {
          background: lightblue;
        }

        .note-tag-item{
          line-height: 31px;
        }
      }
    }

  }
}

.text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .icon-box {
    .icon {
      position: relative;
      font-size: 12px;
      margin-left: 0.35em;
    }
  }

  .count-text {
    font-size: 0.75em;
    padding: 5px;
    color: $a-text-color;
  }
}


.hide {
  display: none;
}

button {
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

#popup, #contextmenu {
  position: absolute;
}

.szh-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  padding: .375rem 1.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.rc-dialog-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #root, .layout {
  margin: 0 auto;
  height: 100%;
}

#root, .layout {
  width: 100%;
}

.fill-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.note-title {
  padding-bottom: 10px;
}


.note-content {
  position: relative;

  %no-indent-style {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    @extend %no-indent-style;
  }

  ul {
    padding-inline-start: 2em;
    @extend %no-indent-style;
  }
}

* {
  box-sizing: border-box;
}

button {
  border: 1px solid black;
}

body {
  padding: unset !important;
}


