.login-modal-box {
  // styles.scss

  > div {
    max-width: 24rem;
    margin: auto;
    margin-top: 2rem;
    font-family: Arial, sans-serif;

    form {
      background-color: #fff;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      border-radius: 0.375rem;
      padding: 1.5rem;
      margin-bottom: 1rem;

      div {
        margin-bottom: 1rem;

        label {
          display: block;
          color: #4a5568;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 0.5rem 0.75rem;
          border: 1px solid #e2e8f0;
          border-radius: 0.375rem;
          color: #4a5568;
          outline: none;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }

      button {
        background-color: #4299e1;
        color: #fff;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        cursor: pointer;
        outline: none;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: #3182ce;
        }
      }
    }
  }


}
