.note-content {
  button {
    border: unset;
  }


  .ax-editor-wrapper {
    padding: 0 5px;
    flex: 1;

    line-height: 1.6;

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;


    > div:first-child {
      padding-left: 10px;
    }

    > div:last-child {
      flex: 1;

      display: flex;
      flex-direction: column;
      overflow-y: auto;

      * {
        box-sizing: content-box;
      }

      & > [role="textbox"] {
        box-sizing: border-box;
        padding: 1em 1em 1em 30px;
      }
    }
  }

  // 隐藏代码工具栏
  .sc-imjvh9-0 {
    display: none !important;
  }

  // 语言选择
  .sc-166qp5y-5 {
    overflow-y: auto;
    height: 200px;
  }

  // 行内代码
  .keiYSq {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  // 超链接
  //.sc-83nvv9-1 {
  //  color: rgb(0, 0, 238);
  //  text-decoration: underline;
  //}

  button[aria-haspopup="dialog"] {
    background: none;
  }

  //// 表格头
  //.sc-1yra71v-3:first-child {
  //  font-weight: bold; /*加粗*/
  //  text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
  //  //background: rgba(158,188,226,0.2); /*背景色*/
  //}
}
